<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<%- include('partials/head') %>

<body id="page-top">
       <%- include('partials/alertFields') %>
    <div id="wrapper">

        <%- include('partials/sideBar') %>
        
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
               
                <%- include('partials/navBar') %>

                <div class="container-fluid">
                    <h3 class="text-dark ">Schedules</h3>
                    <div class="card shadow">
                        <div class="card-header py-3 flex-column justify-content-between align-items-center">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                        <select id="levelFilter" onchange="filterModulesByLevel()" class="d-inline-block form-select form-select-sm">
                                            <option value="">Select a Level</option>
                                        </select>&nbsp;</label></div>
                            </div>
                            
                        </div>

                        <div id="promo-card">

                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Chaker Necibi 2025</span></div>
                </div>
            </footer>


        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        <div id="modal-form" class="modal-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="form-title"><b>New Schedule:</b></h5>
                    <button type="button" class="btn-close" onclick="closeScheduleForm()"></button>
                </div>
                <form id="scheduleForm" method="POST" enctype="multipart/form-data">
                    <input type="hidden" id="day" name="day_of_week">
                    
                    <div class="mb-3">
                        <label for="idm" class="form-label">Module ID</label>
                        <select id="module-select" name="idm" class="form-control" required>
                            <option value="" >Select Module</option>

                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="idtm" class="form-label">Type Module</label>
                        <select id="type-select" name="idtm" class="form-control">
                            <option value="" >Select Type Module</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="groupe" class="form-label">Groupe</label>
                        <select id="group-select" name="groupe" class="form-control">
                            <option value="" >Select Groupe</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="semester" class="form-label">Semester</label>
                        <input type="number" id="semester" name="semester" class="form-control" readonly required>
                    </div>    
                    <div class="mb-3">
                        <label for="level_name" class="form-label">Level Name</label>
                        <input type="text" id="level" name="level_name" class="form-control" readonly required>
                    </div>
                    <div class="mb-3">
                        <label for="code_c" class="form-label">Classroom Code</label>
                        <select id="classroom-select" name="code_c" class="form-control" required>
                            <option value="" >Select Classroom</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="start_time" class="form-label">Start Time</label>
                        <input type="time" id="start_time" name="start_time" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="end_time" class="form-label">End Time</label>
                        <input type="time" id="end_time" name="end_time" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" onclick="closeScheduleForm()">Close</button>
                </form>
            </div>
        </div>
    </div>
    

    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/js/bs-init.js"></script>
    <script src="/public/js/theme.js"></script>
    <script src="/scripts/admin/schedule.js"></script>
    <script src="/public/js/script.js"></script>

</body>
</html>