<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="--bs-primary: #1C2434;--bs-primary-rgb: 28,36,52;background: #1C2434;position: sticky;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <br>
                <br>
                <br>
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="/teacher/" style="transform: rotate(0deg) scale(0.97) skew(0deg);transform-origin: center;"><i class="fas fa-tachometer-alt" style="font-size: 18.6px;"></i><span style="font-size: medium;">Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/teacher/mySchedule" style="--bs-primary: #1C2434;--bs-primary-rgb: 28,36,52;font-size: 18.6px;transform: rotate(0deg) scale(0.97) skew(0deg);transform-origin: bottom;"><i class="bi bi-table" style="font-size: 18.6px;"></i><span style="font-size: medium;">My Schedule</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="transform: rotate(0deg) scale(0.97) skew(0deg);transform-origin: bottom;"><i class="bi bi-calendar4-week" style="font-size: 18.6px;"></i><span style="font-size: medium;">Sessions</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="transform: rotate(0deg) scale(0.97) skew(0deg);transform-origin: bottom;"><i class="bi bi-journal-text" style="font-size: 18.6px;"></i><span style="font-size: medium;">Modules</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="transform: rotate(0deg) scale(0.97) skew(0deg);transform-origin: bottom;"><i class="bi bi-table" style="font-size: 18.6px;"></i><span style="font-size: medium;">Schedules</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="#" style="transform: rotate(0deg) scale(0.97) skew(0deg);transform-origin: bottom;"><i class="fas fa-user-circle" style="font-size: 18.6px;"></i><span style="font-size: medium;">Register</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>