<nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark" style="--bs-primary: #1C2434;--bs-primary-rgb: 28,36,52;background: #1C2434;position: sticky;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" height="40px"
                        width="40px" version="1.1" id="Layer_1" viewBox="0 0 512 512" xml:space="preserve">
                        <g>
                            <g>
                                <polygon
                                    points="458.97,95.229 256,13.104 53.029,95.229 0,95.229 0,149.391 30.417,149.391 31.187,149.391 480.813,149.391     481.583,149.391 512,149.391 512,95.229   " />
                            </g>
                        </g>
                        <g>
                            <g>
                                <polygon
                                    points="481.583,444.734 480.813,444.734 31.187,444.734 30.417,444.734 0,444.734 0,498.896 512,498.896 512,444.734       " />
                            </g>
                        </g>
                        <g>
                            <g>
                                <path
                                    d="M480.813,221.945v-42.138h-30.417H61.604H31.187v42.138h15.209v150.234H31.187v42.138h30.417h388.792h30.417v-42.138    h-15.209V221.945H480.813z M157.27,372.179h-24.291V221.945h24.291V372.179z M268.146,372.179h-24.292V221.945h24.292V372.179z     M379.02,372.179h-24.291V221.945h24.291V372.179z" />
                            </g>
                        </g>
                    </svg>
                </div>
                <br><br>
                <div class="sidebar-brand-text mx-3"><span>UNIVATS</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <br>
                <br>
                <br>
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="/teacher/" style="transform: rotate(0deg) scale(0.97) skew(0deg);transform-origin: center;"><i class="fas fa-tachometer-alt" style="font-size: 18.6px;"></i><span style="font-size: medium;">Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/teacher/mySchedule" style="--bs-primary: #1C2434;--bs-primary-rgb: 28,36,52;font-size: 18.6px;transform: rotate(0deg) scale(0.97) skew(0deg);transform-origin: bottom;"><i class="bi bi-table" style="font-size: 18.6px;"></i><span style="font-size: medium;">My Schedule</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/teacher/sessions" style="transform: rotate(0deg) scale(0.97) skew(0deg);transform-origin: bottom;"><i class="bi bi-calendar4-week" style="font-size: 18.6px;"></i><span style="font-size: medium;">Sessions</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/teacher/students" style="transform: rotate(0deg) scale(0.97) skew(0deg);transform-origin: bottom;"><i class="bi bi-mortarboard" style="font-size: 18.6px;"></i><span style="font-size: medium;">Students</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>