<div class="alert-message message-danger" role="alert">

</div>
<div class="alert-message message-success" role="alert">

</div>	

<div class="confirm-alert shadow" role="alert">
    <div class="confirm-alert-content" role="alert">
        <p class="confirm-message"></p>
        <br>
        <div class="d-flex justify-content-end" style="margin-right: 3%;"></div>
            <button class="btn btn-danger" id="confirm-yes">Yes</button>
            <button class="btn btn-secondary" id="confirm-no">No</button>
        </div>
    </div>
</div>
